<h1>Songs database program based on Ruby on Rails hosted on Heroku </h1>
<h5>You can view the albums, songs and actors.  You may add new songs to the database. 
	You can buy songs by putting in your name and the song of your choice </h5>
